
.background-preview {
    border: 3px dashed rgb(188, 217, 230);
    flex-grow: 1;
}

.title-area {
    background-color: black;
    background-image: url('images/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-size: 1.5rem;
    min-height: calc(75vh);
}

.courses-list .row:hover {
    cursor: pointer;
    border: 1px solid black !important;
}

.course-logo {
    min-width: 170px;
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}